.Footerbar {
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  height: 50px;
  text-align: center;
  width: 100%;
  padding-top: 20px;
  padding: 5px;
  color: white;
  overflow: hidden;
}
.Footerbar-content {
  flex: 1;
}
@media (min-width: 499px) {
  .Footerbar {
    display: flex;
    flex-direction: column;
    min-width: 100vh;
    text-align: center;
  }
  .Footerbar-content {
    flex: 1;
  }
}
